<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>編輯器</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="./js/esprima.js"></script> -->
    <script src="./dist/editor.bundle.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <style>
        html, body, #app, #main, .v-application--wrap, .v-application{
            width: 100%;
            height: 100%;
            margin: 0px;
            background-color: #272727;
            color: #FFFFFF;
        }
        .v-expansion-panel-content__wrap{
            padding: 0px;
        }
        #main{
            display: flex;
            flex-direction: row;
        }
        .block{
            user-select: none;
            border: 1px;
            border-color: #272727;
            border-style: double;
        }
        .operator{
            display: flex; 
            min-height: 40px;
            align-items: center;
        }
    </style>
</head>
<body>
    <div id="app">
        <v-app>
            <!-- <v-main> -->
                <div id="main">
                    <div style="width: 150px; overflow-y: auto;">
                        <v-expansion-panels dark focusable>
                            <template v-if="fileName == DEFAULT_FILE_NAMES.CHARACTER">
                                <v-expansion-panel>
                                    <v-expansion-panel-header>人物介紹</v-expansion-panel-header>
                                    <v-expansion-panel-content>
                                        <character :is-demo="true" @drag="drag" @dragstart="dragstart" @dragend="dragend"></character>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                            </template>
                            <template v-else-if="fileName == DEFAULT_FILE_NAMES.GLOBAL_VARIABLE">
                                <v-expansion-panel>
                                    <v-expansion-panel-header>字串</v-expansion-panel-header>
                                    <v-expansion-panel-content>
                                        <string-variable :is-demo="true" @drag="drag" @dragstart="dragstart" @dragend="dragend"></string-variable>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                                <v-expansion-panel>
                                    <v-expansion-panel-header>數字</v-expansion-panel-header>
                                    <v-expansion-panel-content>
                                        <number-variable :is-demo="true" @drag="drag" @dragstart="dragstart" @dragend="dragend"></number-variable>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                                <v-expansion-panel>
                                    <v-expansion-panel-header>布林</v-expansion-panel-header>
                                    <v-expansion-panel-content>
                                        <boolean-variable :is-demo="true" @drag="drag" @dragstart="dragstart" @dragend="dragend"></boolean-variable>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                            </template>
                            <template v-else>
                                <v-expansion-panel>
                                    <v-expansion-panel-header>條件</v-expansion-panel-header>
                                    <v-expansion-panel-content>
                                        <if :is-demo="true" @drag="drag" @dragstart="dragstart" @dragend="dragend"></if>
                                        <elseif :is-demo="true" @drag="drag" @dragstart="dragstart" @dragend="dragend"></elseif>
                                        <else :is-demo="true" @drag="drag" @dragstart="dragstart" @dragend="dragend"></else>
                                        <sc-select :is-demo="true" @drag="drag" @dragstart="dragstart" @dragend="dragend"></sc-select>
                                        <sc-option :is-demo="true" @drag="drag" @dragstart="dragstart" @dragend="dragend"></sc-option>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                                <v-expansion-panel>
                                    <v-expansion-panel-header>迴圈</v-expansion-panel-header>
                                    <v-expansion-panel-content>
                                        <while :is-demo="true" @drag="drag" @dragstart="dragstart" @dragend="dragend"></while>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                                <v-expansion-panel>
                                    <v-expansion-panel-header>指令</v-expansion-panel-header>
                                    <v-expansion-panel-content>
                                        <show :is-demo="true" @drag="drag" @dragstart="dragstart" @dragend="dragend"></show>
                                        <exec :is-demo="true" @drag="drag" @dragstart="dragstart" @dragend="dragend"></exec>
                                        <sleep :is-demo="true" @drag="drag" @dragstart="dragstart" @dragend="dragend"></sleep>
                                        <go-to :is-demo="true" @drag="drag" @dragstart="dragstart" @dragend="dragend"></go-to>
                                        <continue :is-demo="true" @drag="drag" @dragstart="dragstart" @dragend="dragend"></continue>
                                        <break :is-demo="true" @drag="drag" @dragstart="dragstart" @dragend="dragend"></break>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                                <v-expansion-panel>
                                    <v-expansion-panel-header>運算子</v-expansion-panel-header>
                                    <v-expansion-panel-content>
                                        <operator :is-demo="true" :b-code="{type: esprima.Syntax.BinaryExpression, operator: '+', left: SC_NULL, right: SC_NULL}" @drag="drag" @dragstart="dragstart" @dragend="dragend"></operator>
                                        <operator :is-demo="true" :b-code="{type: esprima.Syntax.BinaryExpression, operator: '-', left: SC_NULL, right: SC_NULL}" @drag="drag" @dragstart="dragstart" @dragend="dragend"></operator>
                                        <operator :is-demo="true" :b-code="{type: esprima.Syntax.BinaryExpression, operator: '*', left: SC_NULL, right: SC_NULL}" @drag="drag" @dragstart="dragstart" @dragend="dragend"></operator>
                                        <operator :is-demo="true" :b-code="{type: esprima.Syntax.BinaryExpression, operator: '/', left: SC_NULL, right: SC_NULL}" @drag="drag" @dragstart="dragstart" @dragend="dragend"></operator>
                                        <operator :is-demo="true" :b-code="{type: esprima.Syntax.BinaryExpression, operator: '+=', left: SC_NULL, right: SC_NULL}" @drag="drag" @dragstart="dragstart" @dragend="dragend"></operator>
                                        <operator :is-demo="true" :b-code="{type: esprima.Syntax.BinaryExpression, operator: '-=', left: SC_NULL, right: SC_NULL}" @drag="drag" @dragstart="dragstart" @dragend="dragend"></operator>
                                        <operator :is-demo="true" :b-code="{type: esprima.Syntax.BinaryExpression, operator: '>', left: SC_NULL, right: SC_NULL}" @drag="drag" @dragstart="dragstart" @dragend="dragend"></operator>
                                        <operator :is-demo="true" :b-code="{type: esprima.Syntax.BinaryExpression, operator: '<', left: SC_NULL, right: SC_NULL}" @drag="drag" @dragstart="dragstart" @dragend="dragend"></operator>
                                        <operator :is-demo="true" :b-code="{type: esprima.Syntax.BinaryExpression, operator: '>=', left: SC_NULL, right: SC_NULL}" @drag="drag" @dragstart="dragstart" @dragend="dragend"></operator>
                                        <operator :is-demo="true" :b-code="{type: esprima.Syntax.BinaryExpression, operator: '<=', left: SC_NULL, right: SC_NULL}" @drag="drag" @dragstart="dragstart" @dragend="dragend"></operator>
                                        <operator :is-demo="true" :b-code="{type: esprima.Syntax.BinaryExpression, operator: '==', left: SC_NULL, right: SC_NULL}" @drag="drag" @dragstart="dragstart" @dragend="dragend"></operator>
                                        <operator :is-demo="true" :b-code="{type: esprima.Syntax.BinaryExpression, operator: '!=', left: SC_NULL, right: SC_NULL}" @drag="drag" @dragstart="dragstart" @dragend="dragend"></operator>
                                        <unary-operator :is-demo="true" :b-code="{type: esprima.Syntax.UnaryExpression, operator: '-', argument: SC_NULL}" @drag="drag" @dragstart="dragstart" @dragend="dragend"></unary-operator>
                                        <unary-operator :is-demo="true" :b-code="{type: esprima.Syntax.UnaryExpression, operator: '!', argument: SC_NULL}" @drag="drag" @dragstart="dragstart" @dragend="dragend"></unary-operator>
                                        <operator :is-demo="true" :b-code="{type: esprima.Syntax.AssignmentExpression, operator: '=', left: SC_NULL, right: SC_NULL}" @drag="drag" @dragstart="dragstart" @dragend="dragend"></operator>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                                <v-expansion-panel>
                                    <v-expansion-panel-header>字串</v-expansion-panel-header>
                                    <v-expansion-panel-content>
                                        <string :is-demo="true" :b-code="{type: esprima.Syntax.Literal, value: ''}" @drag="drag" @dragstart="dragstart" @dragend="dragend"></string>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                                <v-expansion-panel>
                                    <v-expansion-panel-header>數字</v-expansion-panel-header>
                                    <v-expansion-panel-content>
                                        <number :is-demo="true" :b-code="{type: esprima.Syntax.Literal, value: 0}" @drag="drag" @dragstart="dragstart" @dragend="dragend"></number>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                                <v-expansion-panel>
                                    <v-expansion-panel-header>布林值</v-expansion-panel-header>
                                    <v-expansion-panel-content>
                                        <bool :is-demo="true" :b-code="{type: esprima.Syntax.Literal, raw: 'true', value: true}" @drag="drag" @dragstart="dragstart" @dragend="dragend"></bool>
                                        <bool :is-demo="true" :b-code="{type: esprima.Syntax.Literal, raw: 'false', value: false}" @drag="drag" @dragstart="dragstart" @dragend="dragend"></bool>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                                <v-expansion-panel>
                                    <v-expansion-panel-header>變數</v-expansion-panel-header>
                                    <v-expansion-panel-content>
                                        <div v-for="item in globalVariables">
                                            <variable :is-demo="true" :b-code="{type: esprima.Syntax.MemberExpression, object:{type: esprima.Syntax.Identifier, name: 'SC'}, property: {type: esprima.Syntax.Identifier, name: item.name}}" @drag="drag" @dragstart="dragstart" @dragend="dragend"></variable>
                                        </div>
                                    </v-expansion-panel-content>
                                </v-expansion-panel>
                            </template>
                        </v-expansion-panels>
                    </div>
                    <blocks :b-code.sync="codeTree" @drag="drag" @drop="drop" @dragstart="dragstart" @dragend="dragend" @dragenter="dragenter" @dragleave="dragleave" :context-menu-items="contextMenuItems" :context-menu-item-click="contextMenuItemClick" style="overflow-y: auto;"></blocks>
                    <div style="width: 150px; display: flex; flex-direction: column;">
                        <div style="display: flex;">
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn icon @click="save" v-bind="attrs" v-on="on">
                                        <v-icon color="#FFFFFF">mdi-content-save</v-icon>
                                    </v-btn>
                                </template>
                                <span>儲存</span>
                            </v-tooltip>
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn icon @click="debug" v-bind="attrs" v-on="on" style="display: block;">
                                        <v-icon color="#FFFFFF">mdi-bug</v-icon>
                                    </v-btn>
                                </template>
                                <span>除錯</span>
                            </v-tooltip>
                        </div>
                        <span>暫存區</span>
                        <blocks :allow-type="[TYPE.CODE_BLOCK, TYPE.VAR_BLOCK, TYPE.LIFT_VAR_BLOCK, TYPE.SELECT_OPTION]" :b-code.sync="tempCodeTree" @drag="drag" @drop="drop" @dragstart="dragstart" @dragend="dragend" @dragenter="dragenter" @dragleave="dragleave" :context-menu-items="contextMenuItems" :context-menu-item-click="contextMenuItemClick" style="overflow-y: auto;"></blocks>
                        <trash @drop="trashMouseUp"></trash>
                    </div>
                    <v-snackbar v-model="snackbar">
                        <span>儲存完畢</span>
                        <template v-slot:action="{ attrs }">
                            <v-btn color="#e91e63" text v-bind="attrs" @click="snackbar = false" >
                                <span>好</span>
                            </v-btn>
                        </template>
                    </v-snackbar>
                </div>
            <!-- </v-main> -->
        </v-app>
    </div>
</body>
</html>